<%- include('header') -%> 
<h2>this is the ABOUT page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, beatae cum? Fugiat, pariatur totam eaque ad iusto illum laborum, asperiores esse nemo dignissimos rem odit fugit unde impedit cum vero.
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, beatae cum? Fugiat, pariatur totam eaque ad iusto illum laborum, asperiores esse nemo dignissimos rem odit fugit unde impedit cum vero.
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, beatae cum? Fugiat, pariatur totam eaque ad iusto illum laborum, asperiores esse nemo dignissimos rem odit fugit unde impedit cum vero.
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, beatae cum? Fugiat, pariatur totam eaque ad iusto illum laborum, asperiores esse nemo dignissimos rem odit fugit unde impedit cum vero.
</p>
<%- include('footer') -%>